#include <windows.h>
#include "resource.h"

1 MANIFEST "./Res/LuaClip.manifest"

IDI_APPICON ICON DISCARDABLE "./Res/LuaClip.ico"
IDI_APPICON_SMALL ICON DISCARDABLE "./Res/LuaClip-Small.ico"
IDI_APPICON_DISABLED ICON DISCARDABLE "./Res/LuaClip-Disabled.ico"

#define VERSION_WORDS 1, 4, 1, 0
#define VERSION_STR "1.4.1"

// -------------------------------------------------------

VS_VERSION_INFO VERSIONINFO
 FILEVERSION			VERSION_WORDS
 PRODUCTVERSION			VERSION_WORDS
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
	BLOCK "080404B0"
	BEGIN
	VALUE "CompanyName",		"shuax"
	VALUE "FileDescription",	"基于Lua脚本的剪贴板增强软件"
	VALUE "LegalCopyright",	"Copyright (C) 2013-2014 www.shuax.com"
	VALUE "ProductName",		"LuaClipboard"
	VALUE "FileVersion",		VERSION_STR
	VALUE "ProductVersion",	VERSION_STR
	END
END
BLOCK "VarFileInfo"
BEGIN
	VALUE "Translation", 0x804, 1200
END
END
